{% extends 'base.html' %}

{% block content %}
<div style="background-color: #4d0263; color: white;">
    <br>
    <br>
    <br>

    <div class="container">
        <div class="row align-items-start" style="padding-top: 20px;"> 
            <div class="col-2 ">
                <img src="{{product.icon.url}}" alt="" style="width: 90%; border: solid 3px #e374bc;">
            </div>
            <div class="col-6">
                <a href="{{product.url}}" style="color:#e374bc; ;"><h1>{{product.title}}</h1></a>
            </div>
        </div>
        
        <div class="row" style="padding-top: 20px;">
            <div class="col-9">
                <img src="{{product.image.url}}" alt="" style="width: 100%;border: solid 3px #e374bc;">
            </div>
            <div class="col-3">
                <a href="javascript:{document.getElementById('upvote').submit()}"><Button class="btn btn-primary btn-lg btn-block">Upvote ({{product.votes_total}})</Button></a>
            </div>
        </div>
        
        <div class="row" style="padding-top: 10px;">
            <div class="col-4">
                <small>Listed by {{product.hunter.username}}</small>
            </div>
            <div class="col-5 text-right" >
                <small><span class="oi oi-calendar"></span> {{product.pub_date_pretty}}</small> 
            </div>
        </div>
        
        <div class="row" style="padding-top: 15px;">
            <div class="col-9">
                <p style="font-size: larger;">
                    {{product.body}}
                </p>
            </div>
           
        
        </div>
        
        <form action="{% url 'upvote' product.id %}" method="POST" id="upvote">
            {% csrf_token %}
            <input type="hidden">
        </form>
        
        
    </div>
<br>
<br>
<br>
</div>


{% endblock %}